* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.list1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu1 {
  width: 186px;
  height: 111px;
}
@media (max-width: 768px) {
  .menu1 {
    display: none;
  }
  .line {
    display: none;
  }
}

.logo {
  width: calc(170px + (214 - 170) * ((100vw - 375px) / (1920 - 360)));
  height: calc(37px + (47 - 37) * ((100vw - 375px) / (1920 - 360)));
  margin-left: calc(20px + (154 - 20) * ((100vw - 375px) / (1920 - 360)));
  margin-top: calc(29px + (32 - 29) * ((100vw - 375px) / (1920 - 360)));
  margin-bottom: calc(29px + (32 - 29) * ((100vw - 375px) / (1920 - 360)));
}

.loc {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 98px;
  width: calc(20px + (315 - 20) * ((100vw - 375px) / (1920 - 360)));
}

.loc span {
  width: calc(20px + (275 - 20) * ((100vw - 375px) / (1920 - 360)));
  margin-left: 15px;
  margin-left: 11px;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.Location {
  width: 26px;
  height: 26px;
}

.geo {
  margin-left: calc(20px + (300 - 20) * ((100vw - 375px) / (1920 - 360)));
  display: flex;
  align-items: center;
}

.geo span {
  text-transform: uppercase;
  font-weight: 500;
  line-height: 150%;
}

.Geography {
  width: calc(0px + (32 - 0) * ((100vw - 375px) / (1920 - 360)));
  height: calc(0px + (32 - 0) * ((100vw - 375px) / (1920 - 360)));
}

#tel {
  width: 120px;
  margin-left: calc(0px + (48 - 0) * ((100vw - 375px) / (1920 - 360)));
  font-size: calc(12px + (16 - 12) * ((100vw - 375px) / (1920 - 360)));
  font-weight: 500;
  line-height: 150%;
}
.line {
  width: 1px;
  height: 111px;
  background-color: #ebeef0;
  margin-left: calc(20px + (228 - 20) * ((100vw - 375px) / (1920 - 360)));
}

#Mail {
  width: 26px;
  height: 21px;
  margin-left: 42px;
  margin-right: 41px;
}

@media (max-width: 1738px) {
  .menu {
    display: none;
  }
}

@media (max-width: 930px) {
  .loc {
    display: none;
  }
  .geo {
    display: none;
  }
  #tel {
    display: none;
  }
}

/* 2 экран */

.navbar {
  border-bottom: 1px solid #ebeef0;
  border-top: 1px solid #ebeef0;
  display: flex;
  align-items: center;
  height: calc(20px + (88 - 20) * ((100vw - 375px) / (1920 - 360)));
  background: #fbfbfe;
}

.menyu {
  margin-left: calc(20px + (371 - 20) * ((100vw - 375px) / (1920 - 360)));
  width: calc(200px + (797 - 200) * ((100vw - 375px) / (1920 - 360)));
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menyu span {
  text-transform: uppercase;
  font-size: 14px;
}

.line2 {
  width: 1px;
  height: 32px;
  background: #dde2e4;
  margin-left: calc(20px + (139 - 20) * ((100vw - 375px) / (1920 - 360)));
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  font-family: Ubuntu;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 180%;
  color: #a4a9b1;
  margin-left: calc(20px + (140 - 20) * ((100vw - 375px) / (1920 - 360)));
}

#search-icon {
  width: 24px;
  margin-left: calc(0px + (24 - 0) * ((100vw - 375px) / (1920 - 360)));
  margin-top: 32px;
  margin-bottom: 32px;
}

#red {
  color: red;
}

@media (max-width: 1160px) {
  .navbar {
    display: none;
  }
}

/* 3 экран */

#main-part {
  font-size: 14px;
  font-weight: 400;
  line-height: 135%;
  margin-left: 154px;
}

.slide {
  display: flex;
  margin-top: 64px;
  gap: 32px 150px;
}

.text-section h1 {
  margin-right: calc(20px + (150 - 20) * ((100vw - 375px) / (1920 - 360)));
  font-size: calc(27px + (64 - 27) * ((100vw - 375px) / (1920 - 360)));
  font-weight: 500;
  line-height: 125%;
  text-transform: uppercase;
  margin-left: calc(20px + (152 - 20) * ((100vw - 375px) / (1920 - 360)));
}

.text-section p {
  font-family: Ubuntu;
  font-size: calc(14px + (16 - 14) * ((100vw - 375px) / (1920 - 360)));
  font-weight: 400;
  line-height: 180%;
  margin-top: calc(24px + (56 - 24) * ((100vw - 375px) / (1920 - 360)));
  margin-left: calc(20px + (152 - 20) * ((100vw - 375px) / (1920 - 360)));
  margin-right: calc(20px + (150 - 20) * ((100vw - 375px) / (1920 - 360)));
}

.arrow {
  display: flex;
  align-items: center;
}
.text-section span {
  text-transform: uppercase;
  font-size: calc(14px + (16 - 14) * ((100vw - 375px) / (1920 - 360)));
  font-weight: 500;
  line-height: 180%;
  margin-left: calc(20px + (154 - 20) * ((100vw - 375px) / (1920 - 360)));
  margin-top: calc(51px + (118 - 51) * ((100vw - 375px) / (1920 - 360)));
}

.arrow img {
  margin-top: calc(40px + (118 - 40) * ((100vw - 375px) / (1920 - 360)));
  margin-left: calc(0px + (40 - 0) * ((100vw - 375px) / (1920 - 360)));
}

#image-section {
  width: calc(360px + (960 - 360) * ((100vw - 375px) / (1920 - 360)));
  height: calc(263px + (700 - 263) * ((100vw - 375px) / (1920 - 360)));
}

/* 4 экран */

.stats-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1920px;
  margin-left: calc(20px + (154 - 20) * ((100vw - 375px) / (1920 - 360)));
  margin-right: calc(20px + (340 - 20) * ((100vw - 375px) / (1920 - 360)));
}

.stet-box {
  text-align: center;
  padding: 20px;
}

.stat-box h3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 25.6px;
  color: #a4a9b1;
  margin-top: 63px;
}

.stat-number {
  font-size: 100px;
  font-weight: 300;
  line-height: 125px;
  color: #a0b715;
  margin-top: 8px;
}

.stat-description {
  width: 215px;
  height: 45px;
  font-size: calc(14px + (16 - 14) * ((100vw - 375px) / (1920 - 360)));
  font-weight: 400;
  line-height: 160%;
  color: #575f6c;
  margin-top: calc(18px + (39 - 18) * ((100vw - 375px) / (1920 - 360)));
  margin-right: calc(20px + (116 - 20) * ((100vw - 375px) / (1920 - 360)));
}

.line3 {
  width: 1240px;
  height: 1px;
  background: #dde2e4;
  margin-left: 154px;
  margin-right: 340px;
  margin-top: 112px;
}

/* 5 экран */

.vacancies-section {
  margin-left: calc(20px + (155 - 20) * ((100vw - 375px) / (1920 - 360)));
  margin-right: calc(50px + (339 - 50) * ((100vw - 375px) / (1920 - 360)));
  margin-top: calc(48px + (112 - 48) * ((100vw - 375px) / (1920 - 360)));
}

.vacancies-section h2 {
  font-size: calc(24px + (56 - 24) * ((100vw - 375px) / (1920 - 360)));
  font-weight: 500;
  line-height: 135%;
}

.vacancies-categories {
  display: flex;
  margin-top: calc(24px + (87 - 24) * ((100vw - 375px) / (1920 - 360)));
}
@media (max-width: ) {
  
}

.category {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #ffffff;
  color: #575f6c;
  background-color: #dde2e4;
}
.category1 {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}
.category1 img {
  width: calc(300px + (414 - 300) * ((100vw - 375px) / (1920 - 360)));
}
.category1 p{
  width: calc(300px + (414 - 300) * ((100vw - 375px) / (1920 - 360)));
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 500;
  line-height: 135%;
  color: #333;
  font-weight: bold;
}

.category img {
  /* border: 1px solid #ddd; */
  width: calc(300px + (414 - 300) * ((100vw - 375px) / (1920 - 360)));
}
@media (max-width: 1175px) {
  .vacancies-categories {
    display: none;
  }
}

.category p {
  width: calc(300px + (414 - 300) * ((100vw - 375px) / (1920 - 360)));
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 500;
  line-height: 135%;
  color: #333;
  font-weight: bold;
}

.programm {
  margin-top: 48px;
  margin-left: 80px;
  margin-right: 56px;
  margin-bottom: 61px;
}
.vacancies-list p {
  font-size: calc(16px + (18 - 16) * ((100vw - 375px) / (1920 - 360)));
  font-weight: 500;
  line-height: 135%;
  text-align: center;
}

.vacancies-list ul {
  margin-top: 32px;
  list-style-type: none;
}

#backcolor {
  background-color: #f7f8fa;
}

.vacancies-list li {
  font-size: calc(14px + (16 - 14) * ((100vw - 375px) / (1920 - 360)));
  font-weight: 400;
  line-height: 135%;
  padding: 8px 0;
  padding-top: calc(16px + (20 - 16) * ((100vw - 375px) / (1920 - 360)));
  padding-bottom: calc(16px + (20 - 16) * ((100vw - 375px) / (1920 - 360)));
  padding-left: calc(16px + (48 - 16) * ((100vw - 375px) / (1920 - 360)));
}

/* 6 экран */

.redline {
  width: 1920px;
  height: 2px;
  background-color: #dde2e4;
  margin-top: 128px;
}

.slide-container {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 24px 89px;
  /* border: 5px solid #dde2e4;  */
  /* outline: 1px solid #dde2e4; */
  /* margin-top: calc(48px + (128 - 48) * ((100vw - 375px) / (1920 - 360))); */
}
@media (max-width: 1240px) {
  .slide-container {
    display: flex;
    flex-wrap: wrap;
  }
  .overlay-text {
    display: none;
  }

}

.image-container {
  margin-top: 75px;
  width: calc(320px + (705 - 320) * ((100vw - 375px) / (1920 - 360)));
  height: calc(274px + (684 - 274) * ((100vw - 375px) / (1920 - 360)));
  /* text-align: left; */
  /* margin-right: 89px; */
  background-image: url(./img/shutterstock_215933638.png);
  background-repeat: no-repeat;
  background-position: center;
  /* background-size: cover; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 63px;
}

.overlay-text {
  font-size: 56px;
  font-weight: 500;
  line-height: 135%;
  background-color: rgba(255, 255, 255, 0.7); /* Белый фон с прозрачностью */
  backdrop-filter: blur(10px);
  padding: 30px 70px;
}

.text-item {
  width: calc(232px + (307 - 232) * ((100vw - 375px) / (1920 - 360)));
  gap: 24px 24px;
}

.text-container {
  margin-top: 96px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 90px 56px;
  margin-bottom: calc(24px + (56 - 24) * ((100vw - 375px) / (1920 - 360)));
}

.text-content {
  font-size: calc(14px + (16 - 14) * ((100vw - 375px) / (1920 - 360)));
  font-weight: 500;
  line-height: 150%;
}

@media (max-width: 768px) {
  .text-container {
    grid-template-columns: 1fr;
    grid-template-rows: (6, auto);
  }
}

/* 7 экран */

.container {
  margin-left: calc(20px + (340 - 20) * ((100vw - 375px) / (1920 - 360)));
  margin-right: calc(20px + (340 - 20) * ((100vw - 375px) / (1920 - 360)));
  margin-top: calc(48px + (112 - 48) * ((100vw - 375px) / (1920 - 360)));
}

.h2 {
  font-size: calc(24px + (56 - 24) * ((100vw - 375px) / (1920 - 360)));
  font-weight: 500;
  line-height: 135%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 7px;
  margin-top: 87px;
}

.stage {
  display: flex;
  align-items: center;
  /* flex-direction: row; */
  margin-top: 20px;
  /* border: 1px solid #f7f8fa; */
  background-color: #f7f8fa;
  width: 400px;
  height: 201px;
}

.number {
  font-size: 40px;
  font-weight: 300;
  line-height: 135%;
  color: #cbe724;
  margin-right: 48px;
}

.stage p {
  font-size: calc(14px + (16 - 14) * ((100vw - 375px) / (1920 - 360)));
  font-weight: 500;
  line-height: 150%;
  margin-right: 48px;
  text-align: start;
}

/* 8 экран */

.cost {
  margin-top: calc(48px + (112 - 48) * ((100vw - 375px) / (1920 - 360)));
  margin-left: calc(20px + (340 - 20) * ((100vw - 375px) / (1920 - 360)));
}

.cost h2 {
  font-size: calc(24px + (56 - 24) * ((100vw - 375px) / (1920 - 360)));
  font-weight: 500;
  line-height: 135%;
}

.occupations {
  display: flex;
  flex-wrap: wrap;
  gap: 16px 20px;
  margin-top: calc(32px + (87 - 32) * ((100vw - 375px) / (1920 - 360)));
  position: relative;
}

.occp1 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  background-color: #f7f8fa;
  font-size: calc(18px + (20 - 18) * ((100vw - 375px) / (1920 - 360)));
  font-weight: 500;
  line-height: 135%;
  width: calc(320px + (400 - 320) * ((100vw - 375px) / (1920 - 360)));
  height: calc(55px + (98 - 55) * ((100vw - 375px) / (1920 - 360)));
}

#sameimg {
  width: calc(320px + (400 - 320) * ((100vw - 375px) / (1920 - 360)));
  height: calc(331px + (414 - 331) * ((100vw - 375px) / (1920 - 360)));
}

.percentage {
  position: absolute;
  margin-left: 24px;
  margin-right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cbe724;
  color: #ffffff;
  width: calc(320px + (352 - 320) * ((100vw - 375px) / (1920 - 360)));
  height: calc(83px + (96 - 83) * ((100vw - 375px) / (1920 - 360)));
  margin-top: -50px;
}

#per {
  font-size: calc(25px + (32 - 25) * ((100vw - 375px) / (1920 - 360)));
  font-weight: 700;
  line-height: 135%;
  margin-right: 25px;
}

#line-per {
  width: 1px;
  height: calc(83px + (96 - 83) * ((100vw - 375px) / (1920 - 360)));
  background-color: #ffffff;
  margin-right: calc(16px + (24 - 16) * ((100vw - 375px) / (1920 - 360)));
}

.percentage p {
  width: 147px;
  margin-left: 25px;
  margin-right: calc(32px + (37 - 32) * ((100vw - 375px) / (1920 - 360)));
}

#triangle {
  margin-right: 24px;
}

.about {
  border: 5px solid #ebeef0;
  margin-top: calc(24px + (56 - 24) * ((100vw - 375px) / (1920 - 360)));
  display: flex;
  flex-wrap: wrap;
  gap: 24px 41px;
  width: calc(320px + (1240 - 320) * ((100vw - 375px) / (1920 - 360)));
  /* height: calc(315x + (172 - 315) * ((100vw - 375px) / (1920 - 360)));;  */
}

#group77 {
  margin-left: calc(24px + (48 - 24) * ((100vw - 375px) / (1920 - 360)));
  margin-top: 54px;
  margin-bottom: 54px;
}

.about p {
  width: 948px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 9 экран */

.payment {
  margin-top: calc(48px + (112 - 48) * ((100vw - 375px) / (1920 - 360)));
  display: flex;
  background-color: #f7f8fa;
  flex-wrap: wrap;
  flex-basis: 300px;
}

.payment img {
  width: calc(320px + (857 - 320) * ((100vw - 375px) / (1920 - 360)));
  height: calc(240px + (640 - 240) * ((100vw - 375px) / (1920 - 360)));
}

.money {
  width: calc(320px + (857 - 320) * ((100vw - 375px) / (1920 - 360)));
  /* margin-top: calc(40px + (88 - 40) * ((100vw - 375px) / (1920 - 360)));
  margin-left: calc(24px + (72 - 24) * ((100vw - 375px) / (1920 - 360)));
  margin-right: calc(24px + (410 - 24) * ((100vw - 375px) / (1920 - 360)));  */
}

.promise {
  width: calc(272px + (603 - 272) * ((100vw - 375px) / (1920 - 360)));
}

.promise h2 {
  font-size: calc(24px + (56 - 24) * ((100vw - 375px) / (1920 - 360)));
  font-weight: 500;
  line-height: 135%;
  margin-top: calc(40px + (88 - 40) * ((100vw - 375px) / (1920 - 360)));
  margin-left: calc(24px + (72 - 24) * ((100vw - 375px) / (1920 - 360)));
}

.promise h3 {
  margin-top: calc(40px + (88 - 40) * ((100vw - 375px) / (1920 - 360)));
  margin-left: calc(24px + (72 - 24) * ((100vw - 375px) / (1920 - 360)));
  margin-top: calc(32px + (56 - 32) * ((100vw - 375px) / (1920 - 360)));
  font-size: calc(18px + (24 - 18) * ((100vw - 375px) / (1920 - 360)));
  font-weight: 500;
  line-height: 150%;
}

.promise P {
  margin-left: calc(24px + (72 - 24) * ((100vw - 375px) / (1920 - 360)));
  margin-top: calc(16px + (24 - 16) * ((100vw - 375px) / (1920 - 360)));
}

/* 10 экран */

.question {
  margin-top: calc(48px + (112 - 48) * ((100vw - 375px) / (1920 - 360)));
  width: 65%;
  max-width: 1920;
  margin-left: calc(20px + (340 - 20) * ((100vw - 375px) / (1920 - 360)));
}

.question h2 {
  font-size: calc(24px + (56 - 24) * ((100vw - 375px) / (1920 - 360)));
  font-weight: 500;
  line-height: 135%;
}

.questions {
  margin-top: calc(32px + (87 - 32) * ((100vw - 375px) / (1920 - 360)));
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 30px;
}

@media (max-width: 1024px) {
  .questions {
    grid-template-columns: 1fr;
  }
}

.faq-question {
  border: 1px solid #ebeef0;
  padding: calc(24px + (32 - 24) * ((100vw - 375px) / (1920 - 360)));
}

.just-this {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding-top: calc(24px + (32 - 24) * ((100vw - 375px) / (1920 - 360)));
  padding-bottom: calc(24px + (32 - 24) * ((100vw - 375px) / (1920 - 360)));
  padding-left: calc(24px + (32 - 24) * ((100vw - 375px) / (1920 - 360)));
  padding-right: calc(24px + (32 - 24) * ((100vw - 375px) / (1920 - 360))); */
}

.line-for {
  border: 1px solid #a0b715;
  margin-top: 24px;
}

#span {
  margin-top: 24px;
  font-size: calc(14px + (16 - 14) * ((100vw - 375px) / (1920 - 360)));
  font-weight: 400;
  line-height: 150%;
}

.faq-questions {
  border: 1px solid #ebeef0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: calc(24px + (40 - 24) * ((100vw - 375px) / (1920 - 360)));
  padding-bottom: calc(24px + (40 - 24) * ((100vw - 375px) / (1920 - 360)));
  padding-left: calc(24px + (32 - 24) * ((100vw - 375px) / (1920 - 360)));
  padding-right: calc(24px + (32 - 24) * ((100vw - 375px) / (1920 - 360)));
}

.faq-questions p {
  font-size: calc(16px + (20 - 16) * ((100vw - 375px) / (1920 - 360)));
  font-weight: 500;
  line-height: 140%;
}

#circle {
  margin-left: calc(20px + (40 - 20) * ((100vw - 375px) / (1920 - 360)));
}

/* 11 экран */

.job-app {
  margin-top: calc(48px + (112 - 48) * ((100vw - 375px) / (1920 - 360)));
  width: 65%;
  max-width: 1920px;
  margin-left: calc(20px + (340 - 20) * ((100vw - 375px) / (1920 - 360)));
}

.job-app h2 {
  font-size: calc(24px + (56 - 24) * ((100vw - 375px) / (1920 - 360)));
  font-weight: 500;
  line-height: 135%;
}

.for-span {
  margin-top: calc(24px + (40 - 24) * ((100vw - 375px) / (1920 - 360)));
  font-size: calc(14px + (16 - 14) * ((100vw - 375px) / (1920 - 360)));
  font-weight: 400;
  line-height: 160%;
  width: calc(318px + (1067 - 318) * ((100vw - 375px) / (1920 - 360)));
}

.information {
  margin-top: calc(32px + (40 - 32) * ((100vw - 375px) / (1920 - 360)));
}

.inf1 {
  display: flex;
  align-items: center;
  width: 65%;
  max-width: 1920px;
}

.inf-11 {
  color: #a0b715;
  font-size: calc(18px + (20 - 18) * ((100vw - 375px) / (1920 - 360)));
  font-weight: 500;
  line-height: 150%;
}

.inf-12 {
  color: #a0b715;
  font-size: calc(18px + (20 - 18) * ((100vw - 375px) / (1920 - 360)));
  font-weight: 500;
  line-height: 150%;
  margin-left: calc(8px + (25 - 8) * ((100vw - 375px) / (1920 - 360)));
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inf-12 span {
  width: calc(248px + (668 - 248) * ((100vw - 375px) / (1920 - 360)));
}
#minus {
  margin-left: calc(8px + (475 - 8) * ((100vw - 375px) / (1920 - 360)));
}
/* .line-inf {
  border: 1px solid #a0b715;
  color: #A0B715;
  width: calc(320px + (1183 - 320) * ((100vw - 375px) / (1920 - 360)));
} */

.inf2 {
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
}

.inf-21 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, auto);
  gap: 12px 32px;
  padding-top: calc(24px + (72 - 24) * ((100vw - 375px) / (1920 - 360)));
  padding-bottom: calc(24px + (72 - 24) * ((100vw - 375px) / (1920 - 360)));
  padding-left: calc(0px + (64 - 0) * ((100vw - 375px) / (1920 - 360)));
  padding-right: calc(0px + (127 - 0) * ((100vw - 375px) / (1920 - 360)));
}

.item1 {
  font-size: calc(14px + (16 - 14) * ((100vw - 375px) / (1920 - 360)));
  font-weight: 400;
  line-height: 160%;
  border: 1px solid #dde2e4;
  padding-left: 24px;
  width: calc(320px + (480 - 320) * ((100vw - 375px) / (1920 - 360)));
  height: 56px;
  display: flex;
  align-items: center;
}
.item {
  display: flex;
  align-items: center;
  font-size: calc(14px + (16 - 14) * ((100vw - 375px) / (1920 - 360)));
  font-style: italic;
  font-weight: 400;
  line-height: 160%;
  color: #6b7179;
  border: 1px solid #dde2e4;
  padding-left: 24px;
  width: calc(320px + (480 - 320) * ((100vw - 375px) / (1920 - 360)));
  height: 56px;
}
.item2 {
  display: flex;
  align-items: center;
  grid-column: span 2;
  font-size: calc(14px + (16 - 14) * ((100vw - 375px) / (1920 - 360)));
  font-style: italic;
  font-weight: 400;
  line-height: 160%;
  color: #6b7179;
  border: 1px solid #dde2e4;
  padding-left: 24px;
  width: calc(320px + (1030 - 320) * ((100vw - 375px) / (1920 - 360)));
  height: 56px;
}

@media (max-width: 980px) {
  .inf-21 {
    display: flex;
    flex-wrap: wrap;
  }
  .item2 {
    width: calc(320px + (480 - 320) * ((100vw - 375px) / (1920 - 360)));
  }
}

.job-main {
  display: flex;
  align-items: center;
  width: 65%;
  max-width: 1920px;
  height: calc(40px + (95 - 40) * ((100vw - 375px) / (1920 - 360)));
}

.job-desc {
  color: #333333;
  font-size: calc(18px + (20 - 18) * ((100vw - 375px) / (1920 - 360)));
  font-weight: 500;
  line-height: 150%;
}

.little {
  color: #333333;
  font-size: calc(18px + (20 - 18) * ((100vw - 375px) / (1920 - 360)));
  font-weight: 500;
  line-height: 150%;
  margin-left: calc(8px + (25 - 8) * ((100vw - 375px) / (1920 - 360)));
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.little span {
  width: calc(248px + (668 - 248) * ((100vw - 375px) / (1920 - 360)));
}
#plus {
  margin-left: calc(8px + (475 - 8) * ((100vw - 375px) / (1920 - 360)));
}

/* 12 экран */

.Rectangle188 {
  margin-top: 140px;
  width: 100%;
  max-width: 1920px;
  background-color: #F7F8FA;
}

.containers4 {
  padding-left: 340px;
  padding-right: 340px;
  padding-top: 120px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 132px;
}

.footer-column h4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 180%;
  text-transform: uppercase;
}
.footer-column h5 {
  font-size: 16px;
  font-weight: 400;
  line-height: 180%;
  color: #9098a5;
}
.only-h5 {
  margin-top: 39px;
}

.bottom-container {
  margin-top: 64px;
  margin-left: 340px;
  margin-right: 340px;
  display: flex;
  align-items: center;
  width: calc(1000px + (1240 - 1000) * ((100vw - 375px) / (1920 - 360))); 
  height: calc(80px + (119 - 80) * ((100vw - 375px) / (1920 - 360)));
}
.bottom-loc {
  margin-left: 70px;
  display: flex;
  flex-direction: column;
  color: #575F6C
}
.bottom-loc span {
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
}
.contact {
  margin-left: calc(5px + (135 - 5) * ((100vw - 375px) / (1920 - 360)));
  display: flex;
  flex-direction: column;
  color: #575F6C;
}

.partners {
  margin-top: 56px;
  margin-left: 340px;
  height: 51px;
  display: flex;
  align-items: center;
}

.company {
  display: flex;
  flex-direction: column;
  width: 470px;
}
.company span {
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
}

.company-logos {
  /* margin-left: 228px; */
  display: flex;
  justify-content: space-between;
  gap: 0px 72px;
}
@media (max-width: 1210px) {
  .Rectangle188{
    display: none;
  }
}

.mobile {
  background-color: #F7F8FA;
  margin-top: 64px;
  margin-left: calc(0px + (340 - 0) * ((100vw - 375px) / (1920 - 360)));
}
#logo-mob {
  margin-top: 24px;
  margin-left: 20px;
}

.bottom-loc1 {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  margin-left: 20px;
  margin-right: 20px;
}

.contact1 {
  margin-top: 32px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.line-mob {
  height: 1px;
  width: 320px;
  background-color: #E1E8EB;
  margin-top: 32px;
  margin-left: 20px;
}

.company1 {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  margin-left: 20px;
  color: #9098A5;
}
@media (min-width: 1209px) {
  .mobile {
    display: none;
  }
}

.splide__track {
  width: calc(300px + (400 - 300) * ((100vw - 375px) / (1920 - 360)));
  /* height: calc(100px + (200 - 100) * ((100vw - 375px) / (1920 - 360))); */
  display: flex;
  
}
@media (max-width: 1550px) {
  .grid {
    display: none;
  }
}

